<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h2><%= type.charAt(0).toUpperCase() + type.slice(1) %> Trips</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Destination</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        <% trips.forEach(trip => { %>
            <tr>
                <td><%= trip._id %></td>
                <td><%= trip.title %></td>
                <td><%= trip.location %></td>
                <td><%= new Date(trip.departure).toLocaleDateString() %></td>
                <td><%= new Date(trip.endDate).toLocaleDateString() %></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<a href="/admin/adminpannel">Back to Admin Panel</a>



</body>
</html>