<% layout("./layouts/boilerplate.ejs") %>

<h1> <%= trip.title %> </h1>
<h3> <%= trip.tripDescription %> </h3>
<h3> <%= trip.departure %> </h3>
<h3> <%= trip.includes %> </h3>

<h1>Stops</h1>

<h1><%= trip.stopLocation %></h1>
<h1><%= trip.stopDescription %></h1>