
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/nav.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">
            <h3>LOGO</h3>
        </div>
        <div class="trips-nav">
            <a href="/">ALL TRIPS</a>
        </div>
        <div class="user-nav">
            <% if(!currUser){ %>
                <a href="/user/signup">SIGN UP</a>
                <a href="/user/signin">SIGN IN</a>
            <% } %>

            <% if(currUser){ %>
                <a href="/user/logout">LOG OUT</a>
            <% } %>
            <div class="user" id="user">
                <i class="fa-regular fa-user"></i>
            </div>
        </div>

        <div class="dropdown-container" id="dropdown">
            <div class="close">
                <i class="fa-solid fa-xmark" id="close"></i>
            </div>
            <div class="user-info-container">
                <% if(!currUser) { %>
                    <div class="profile"></div>
                    <p>USERNAME</p>    
                <% } else { %>
                    <div class="profile"></div>
                    <p><%= currUser.username %></p> 
                <% } %>
            </div>
            <div class="nav-links">
                <a href="/mytrips">MY TRIP</a>
                <a href="/createtrip">CREATE TRIP</a>
                <a href="/">PAYMENTS AND PAYOUTS</a>
                <a href="/user/signup">SIGN UP</a>    
            </div>
        </div>
    </nav>


    <% if (trip) {%>


        <h1>Edit your trip</h1>
    
        <form action="/<%= trip._id %>/editTrip?_method=PUT" method="POST" class="col-6 offset-2 mt-5"
            enctype="multipart/form-data">
            <div>
                <label for="departure" class="form-label mb-2">departure</label>
                <input type="date" name="departure" id="departure" class="form-control " value="<%= trip.departure ? new Date(trip.departure).toISOString().split('T')[0] : '' %>">
            </div>
    
            <div>
                <label for="endDate" class="form-label mb-2">endDate</label>
                <input type="date" name="endDate" id="endDate" class="form-control " value="<%= trip.endDate ? new Date(trip.endDate).toISOString().split('T')[0] : '' %>">
            </div>
    
            <div>
                <label for="location" class="form-label mb-2">Enter location</label>
                <input type="text" name="location" id="location" value="<%= trip.location %>" class="form-control ">
            </div>
    

            <div>
                <label for="fromLocation" class="form-label mb-2">from location</label>
                <input type="text" name="fromLocation" id="fromLocation" value="<%= trip.fromLocation %>" class="form-control ">
            </div>


            <div class="total-cost">
                <label for="totalCost" class="form-label mb-2">Total trip cost : ₹</label>
                <input type="number" name="totalCost" class="form-control" value="<%= trip.totalCost %>">
            </div>

            <div class="totalDays-container">
                <label for="totalDays">Total days</label>
                <input type="number" name="totalDays" id="totalDays" class="form-control " value="<%= trip.totalDays %>">
            </div>
    
            <div class="mt-3">
                <label class="label-btns" for="one"><i class="fa-solid fa-utensils"></i> Foods</label>
                <input type="checkbox" class="input-btns" id="one" autocomplete="off" value="foods" name="categories"  <% if (trip && trip.categories && trip.categories.includes('foods')) { %>checked<% } %>>
    
                <label class="label-btns" for="two"><i class="fa-solid fa-umbrella-beach"></i> Beach</label>
                <input type="checkbox" class="input-btns" id="two" autocomplete="off" value="beach" name="categories"  <% if (trip && trip.categories && trip.categories.includes('beach')) { %>checked<% } %>>
    
                <label class="label-btns" for="three"><i class="fa-brands fa-fort-awesome"></i> Culture</label>
                <input type="checkbox" class="input-btns" id="three" autocomplete="off" value="culture" name="categories"  <% if (trip && trip.categories && trip.categories.includes('culture')) { %>checked<% } %>>
    
                <label class="label-btns" for="four"><i class="fa-solid fa-champagne-glasses"></i> Party</label>
                <input type="checkbox" class="input-btns" id="four" autocomplete="off" value="party" name="categories"  <% if (trip && trip.categories && trip.categories.includes('party')) { %>checked<% } %>>
    
                <label class="label-btns" for="five"><i class="fa-solid fa-volleyball"></i> Sports</label>
                <input type="checkbox" class="input-btns" id="five" autocomplete="off" value="sports" name="categories"  <% if (trip && trip.categories && trip.categories.includes('sports')) { %>checked<% } %>>
    
                <label class="label-btns" for="six"><i class="fa-solid fa-mountain-sun"></i> Nature</label>
                <input type="checkbox" class="input-btns" id="six" autocomplete="off" value="nature" name="categories"  <% if (trip && trip.categories && trip.categories.includes('nature')) { %>checked<% } %>>
    
            </div>
    
            <div class="mt-3">
                <label for="title" class="form-label mb-2">Trip title</label>
                <input type="text" name="title" id="title" value="<%= trip.title %>" class="form-control ">
            </div>
    
            <div class="input-group mt-3">
                <span class="input-group-text">Trip description</span>
                <textarea class="form-control" name="tripDescription"
                    aria-label="With textarea"><%= trip.description %> </textarea>
            </div>
            
            <div class="accomodations mt-3">
                <label class="form-check-label" for="1">
                    Hotels
                </label>
                <input class="form-check-input" type="checkbox" value="hotel" id="1" name="accomodations" <% if (trip && trip.accomodations && trip.accomodations.includes('hotel')) { %>checked<% } %>>
    
                <label class="form-check-label" for="2">
                    Hostels
                </label>
                <input class="form-check-input" type="checkbox" value="hostels" id="2" name="accomodations" <% if (trip && trip.accomodations && trip.accomodations.includes('hostels')) { %>checked<% } %>>
    
                <label class="form-check-label" for="3">
                    Apartments
                </label>
                <input class="form-check-input" type="checkbox" value="apartments" id="3" name="accomodations" <% if (trip && trip.accomodations && trip.accomodations.includes('apartments')) { %>checked<% } %>>
    
                <label class="form-check-label" for="4">
                    Camping
                </label>
                <input class="form-check-input" type="checkbox" value="camping" id="4" name="accomodations" <% if (trip && trip.accomodations && trip.accomodations.includes('camping')) { %>checked<% } %>>
    
                <label class="form-check-label" for="5">
                    Bed & Breakfast
                </label>
                <input class="form-check-input" type="checkbox" value="bed & breakfast" id="5" name="accomodations" <% if (trip && trip.accomodations && trip.accomodations.includes("bed & breakfast")) { %>checked<% } %>>
            </div>
    
            <div class="input-group mt-3 mb-3">
                <input type="text" class="form-control" id="todoInput" placeholder="Enter includes"
                    aria-label="Example text with button addon" aria-describedby="button-addon1">
                <button onclick="addTodo()" class="btn btn-outline-secondary" type="button" id="button-addon1">Add</button>
            </div>
    
            <div id="todoContainer">
                <!-- Render existing includes -->
                <% for (let i = 0; i < trip.includes.length; i++) { %>
                    <div class="todoItem">
                        <input type="text" name="includes" value="<%= trip.includes[i] %>">
                        <button class="deleteButton" type="button" onclick="deleteInclude(this)">Delete</button>
                    </div>
                <% } %>
            </div>

            <div class="excludes-container">
                <input type="text" class="form-control" id="excludesInput" placeholder="Enter excludes"
                    aria-label="Example text with button addon" aria-describedby="button-addon1">
                <button onclick="addExclude()" class="btn" type="button" id="excludesButton">Add</button>
            </div>

            <div id="excludes-todoContainer">
                <% if (trip && trip.excludes && trip.excludes.length > 0) { %>
                    <!-- Render existing excludes -->
                    <% for (let i = 0; i < trip.excludes.length; i++) { %>
                        <div class="excludeItem">
                            <input type="text" name="excludes" value="<%= trip.excludes[i] %>">
                            <button class="deleteButton" type="button" onclick="deleteInclude(this)">Delete</button>
                        </div>
                    <% } %>
                <% } %>
            </div>

            <div class="mt-3">
                <label for="tripImages" class="form-label mb-2">Trip images</label>
                <input type="file" name="tripImages" id="tripImages" class="form-control  " multiple>
            </div>
    
            <div class="mt-3">
                <label for="totalDays" class="form-label mb-2">Total days</label>
                <input type="number" name="totalDays" id="totalDays" class="form-control " value="<%= trip.totalDays %>">
            </div>

            <div class="mt-3">
                <label for="maleTravelers" class="form-label mb-2">Male Travelers</label>
                <input type="number" name="maleTravelers" id="maleTravelers" class="form-control" value="<%= trip.maleTravelers %>">
            </div>
            
            <div class="mt-3">
                <label for="femaleTravelers" class="form-label mb-2">Female Travelers</label>
                <input type="number" name="femaleTravelers" id="femaleTravelers" class="form-control" value="<%= trip.femaleTravelers %>">
            </div>
            
    
            <% if (trip && trip.stopLocation && trip.stopDescription) { %>
                <div id="stops-container">
                    <% for (let i = 0; i < trip.stopLocation.length ; i++) { %>
                        <div class="stop-section">
                            <h3>Stop <%= i + 1 %></h3>

                            <% if(trip.stopImages && trip.stopImages[i]){ %>
                                <img src="<%= trip.stopImages[i].path %>" alt="">
                            <% } %>

                            <label for="stopImages" class="form-label mb-2">Enter Location</label>
                            <input type="file" name="stopImages" class="form-control">

                        
                            <label for="stopLocation" class="form-label mb-2">Enter Location</label>
                            <input type="text" name="stopLocation" class="form-control" value="<%= trip.stopLocation[i] %>">
            
                            <label for="stopDescription" class="form-label mb-2">Tell Us More</label>
                            <input type="text" name="stopDescription" class="form-control" value="<%= trip.stopDescription[i] %>">
            
                            <button type="button" onclick="deleteStop(this)">Delete Stop</button>
                        </div>
                    <% } %>
                </div>
            <% } else { %>
                <p>Error loading Stop details. Please try again.</p>
            <% } %>


    
            <button class="mt-3">SUBMIT</button>
        </form>
    
        <script>

            
            function addTodo() {
                // Get the value from the input field
                var todoValue = document.getElementById('todoInput').value;
    
                // Create a container div for the todo item
                var todoContainer = document.createElement('div');
                todoContainer.className = 'todoItem';
    
                // Create a new input element for the todo
                var newTodoInput = document.createElement('input');
                newTodoInput.type = 'text';
                newTodoInput.value = todoValue;
                newTodoInput.name = 'includes';
    
                // Create a delete button
                var deleteButton = document.createElement('button');
                deleteButton.className = 'deleteButton';
                deleteButton.className = 'btn';
                deleteButton.innerHTML = 'Delete';
                deleteButton.onclick = function () {
                    // Remove the todo item when the delete button is clicked
                    todoContainer.remove();
                };
    
                // Append the new input and delete button to the todoContainer div
                todoContainer.appendChild(newTodoInput);
                todoContainer.appendChild(deleteButton);
    
                // Append the todoContainer to the todoContainer div
                document.getElementById('todoContainer').appendChild(todoContainer);
    
                // Clear the input field for the next todo
                document.getElementById('todoInput').value = '';
            }
    
            function addExclude() {
            // Get the value from the input field
            var excludeValue = document.getElementById('excludesInput').value;
    
            // Create a container div for the exclude item
            var excludesContainer = document.createElement('div');
            excludesContainer.className = 'excludeItem';
    
            // Create a new input element for the exclude
            var newExcludeInput = document.createElement('input');
            newExcludeInput.type = 'text';
            newExcludeInput.value = excludeValue;
            newExcludeInput.name = 'excludes';
    
            // Create a delete button
            var deleteButton = document.createElement('button');
            deleteButton.className = 'deleteButton btn';
            deleteButton.innerHTML = 'Delete';
            deleteButton.onclick = function () {
                // Remove the exclude item when the delete button is clicked
                excludesContainer.remove();
            };
    
            // Append the new input and delete button to the excludesContainer div
            excludesContainer.appendChild(newExcludeInput);
            excludesContainer.appendChild(deleteButton);
    
            // Append the excludesContainer to the excludesContainer div
            document.getElementById('excludes-todoContainer').appendChild(excludesContainer);
    
            // Clear the input field for the next exclude
            document.getElementById('excludesInput').value = '';
        }
            let stopCounter = 1;
    
            function addStop() {
                stopCounter++;
    
                const stopsContainer = document.getElementById('stops-container');
    
                const newStopSection = document.createElement('div');
                newStopSection.className = 'stop-section';
    
                newStopSection.innerHTML = `
                    <h3>Stop ${stopCounter}</h3>
        
                    <label for="stopImages" class="form-label mb-2">Upload Image</label>
                    <input type="file" name="stopImages" class="form-control">
        
                    <label for="stopLocation" class="form-label mb-2">Enter Location</label>
                    <input type="text" name="stopLocation" class="form-control">
        
                    <label for="stopDescription" class="form-label mb-2">Tell Us More</label>
                    <input type="text" name="stopDescription" class="form-control">
        
                    <button type="button" class="btn" onclick="deleteStop(this)">Delete Stop</button>
                `;
    
                stopsContainer.appendChild(newStopSection);
                updateStopNumbers();
            }

            function deleteInclude(button) {
    const todoContainer = button.parentNode;
    todoContainer.remove();
}
    
            function deleteStop(button) {
                const stopsContainer = document.getElementById('stops-container');
                const stopSection = button.parentNode;
                stopsContainer.removeChild(stopSection);
                stopCounter--;
                updateStopNumbers();
            }
    
            function updateStopNumbers() {
                const stops = document.getElementsByClassName('stop-section');
                Array.from(stops).forEach((stop, index) => {
                    const stopNumber = index + 1;
                    stop.querySelector('h3').innerText = `Stop ${stopNumber}`;
                });
            }
    
            function calculateDurationAndAddStops() {
                // Get the departure and end date values
                const departureDate = new Date(document.getElementById('departure').value);
                const endDate = new Date(document.getElementById('endDate').value);
    
                // Calculate the duration in days
                const durationInDays = Math.floor((endDate - departureDate) / (24 * 60 * 60 * 1000));
    
                // Call a function to dynamically add stops based on the calculated duration
                addStopsBasedOnDuration(durationInDays);
            }
    
            function addStopsBasedOnDuration(duration) {
        const stopsContainer = document.getElementById('stops-container');
        // Clear existing stops
        stopsContainer.innerHTML = '';
    
        // Always keep Stop 1
        const initialStopSection = document.createElement('div');
        initialStopSection.className = 'stop-section';
        initialStopSection.innerHTML = `
            <h3>Stop 1</h3>
            <label for="stopImages" class="form-label mb-2">Upload Image</label>
            <input type="file" name="stopImages" class="form-control">
            <label for="stopLocation" class="form-label mb-2">Enter Location</label>
            <input type="text" name="stopLocation" class="form-control">
            <label for="stopDescription" class="form-label mb-2">Tell Us More</label>
            <input type="text" name="stopDescription" class="form-control">
        `;
        stopsContainer.appendChild(initialStopSection);
    
        // Add stops dynamically based on the duration, including the departure date
        for (let i = 2; i <= duration + 1; i++) {
            const newStopSection = document.createElement('div');
            newStopSection.className = 'stop-section';
            newStopSection.innerHTML = `
                <h3>Stop ${i}</h3>
                <label for="stopImages" class="form-label mb-2">Upload Image</label>
                <input type="file" name="stopImages" class="form-control">
                <label for="stopLocation" class="form-label mb-2">Enter Location</label>
                <input type="text" name="stopLocation" class="form-control">
                <label for="stopDescription" class="form-label mb-2">Tell Us More</label>
                <input type="text" name="stopDescription" class="form-control">
                <button type="button" class="btn" onclick="deleteStop(this)">Delete Stop</button>
            `;
            stopsContainer.appendChild(newStopSection);
        }
        updateStopNumbers();
    }

    
        </script>
    <%} else {%>
        <p>Trip not found</p>
    <%}%>
    
    
    <script src="/js/nav.js"></script>


</body>
</html>


