<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/logo.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/showAll.css">
    <link rel="stylesheet" href="/css/searchBar.css">
    <link rel="stylesheet" href="/css/mainSearch.css">
    <link rel="stylesheet" href="/css/filterSearch.css">
    <link rel="stylesheet" href="/css/pagination.css">
    <link rel="stylesheet" href="/css/account.css">

    <title>Document</title>
</head>

<body>






    <header>
        <nav>
            <div class="logo">

                <p class="shine">joinOurTour</p>
                <!-- From Uiverse.io by devkatyall -->
                <!-- <div class="shine">joinOurTour</div> -->
        
        
            </div>
            <div class="home">
                <a href="/aboutus">HOME</a>
            </div>
            <div class="right">
                <img src="../images/account_circle.png" alt="" class="account-icon">
                <!-- <img src="../images/search.png" alt=""> -->

                <div class="account-container acc-hide">
                    <div class="close">
                        <i class="fa-solid fa-xmark" id="close"></i>
                    </div>
                    <div class="user-info-container">
                        <% if(!currUser) { %>
                            <p>USERNAME</p>
                            <% } else { %>
                                <div class="profile"></div>
                                <p>
                                    <%= currUser.username %>
                                </p>

                                <p>
                                    Wallet Balance: <%= currUser.wallet %> tokens
                                </p>


                                <% } %>
                    </div>
                    <div class="nav-links">
                        <a href="/mytrips">MY TRIP</a>
                        <a href="/createtrip">CREATE TRIP</a>
                        <a href="/">PAYMENTS AND PAYOUTS</a>
                        <% if (!user) { %>
                            <a href="/user/signin">SIGN IN</a>
                            <a href="/user/signup">SIGN UP</a>
                            <% } else { %>
                                <a href="/user/logout">SIGN OUT</a>
                                <% } %>
                                    <a href="/showWishlist">WISHLIST</a>
                                    <a href="/admin/adminpannel">ADMIN PANNEL</a>
                                    <p></p>
                    </div>
                </div>

            </div>
        </nav>
        <hr>









        <div class="bottom-container">
            <img src="../images/linkedin(3).png" alt="">
            <a href="https://www.instagram.com/join.our.tours/profilecard/?igsh=MWQ1dXdkbzZ0d3ExcQ==hhwcccc "> <img
                    src="../images/instagram(4).png" alt=""></a>
            <img src="../images/facebook-app-symbol(1).png
            " alt="">
        </div>
    </header>


    <div class="search-container">
        <div class="search-bar">
            <div class="search-locations">
                <img src="../images/searchloc.png" alt="">
                <div class="startingLocation-container search-locations-container">
                    <label for="startingLocation">Starting from</label>
                    <input type="text" name="startingLocation" id="startingLocation" placeholder="---"
                        value="<%= startingLocation || (user && user.city ? user.city : '') %>">



                </div>
                <div class="destinationLocation-container search-locations-container">
                    <label for="destinationLocation">Going to</label>
                    <input type="text" name="destinationLocation" id="destinationLocation" placeholder="---"
                        value="<%= destinationLocation || '' %>">
                </div>
            </div>


            <div class="search-dates">
                <img src="../images/searchDates.png" alt="">
                <div class="search-dates-container">
                    <div class="trip-dates trip-from-date">
                        <label for="fromDate">from </label>
                        <input type="date" class="fromDate" id="fromDate">
                    </div>

                    <div class="trip-dates trip-to-date">
                        <label for="toDate">to</label>
                        <input type="date" class="toDate" id="toDate">
                    </div>


                </div>
            </div>

            <div class="mainSearchBtn-container">
                <button class="mainSearchBtn" onclick="submitCombinedSearch()">
                    <span class="material-symbols-outlined">
                        east
                    </span>
                </button>

            </div>
        </div>
    </div>

    <div class="breadcrumb-nav">
        <!-- <a href="/aboutus">Home</a> <span>&gt;</span>
        <span>All Trips</span> -->
        <% breadcrumbParts.forEach((part, index)=> { %>
            <a href="<%= part.link %>">
                <%= part.label %>
            </a>
            <% if (index < breadcrumbParts.length - 1) { %> <span>&gt;</span>
                <% } %>
                    <% }); %>>

                        <!-- Reset Filters Button -->
                        <button id="reset-filter-btn"><a href="/" id="reset-filters" class="reset-filters-btn">Reset
                                Filters</a></button>


                               
                            
    </div>

    <!-- <div class="sort-outer-container">
        <div class="sortdiv">


            <% if (totalTrips) { %>
                <p class="total-trips">Total Trips : <%= totalTrips %>
                </p>
                <% } else { %>
                    <p class="total-trips">Total Trips : 0</p>
                    <% } %>



                        <label for="sort-options">Sort By:</label>
                        <select id="sort-options">
                            <option value="default">Default</option>
                            <option value="price-low-high">Price: Low to High</option>
                            <option value="price-high-low">Price: High to Low</option>
                            <option value="rating-high-low">Rating: High to Low</option>
                            <option value="rating-low-high">Rating: Low to High</option>
                        </select>



        </div>

    </div> -->

<div class="filters-ms-container">
    <div class="filters-mb filters-ms">

        <i class="fa-solid fa-filter" onclick="openFilterPopup()"></i>
    </div>
</div>
   


    <main>







        <div class="filter-popup-overlay" id="filterPopup">
            <div class="filter-container">
                <button class="close-filter-btn" onclick="closeFilterPopup()">×</button>
                <div class="secondary-search">
                    <i class="fa-solid fa-location-dot loc"></i>
                    <form action="">
                        <input type="text" placeholder="Search destinations" class="secondary-location"
                            id="secondaryDestination" name="destination">
                    </form>

                    <button class="secondary-search-button" onclick="submitCombinedSearch()">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
                <div class="filters">
                    <div class="top">
                        <h1>When are you traveling?</h1>

                        <div class="filters-dates">
                            <input type="date" id="fromdte" name="fromdte" placeholder="july 4" />
                            <input type="date" id="todte" name="todte" />

                        </div>
                    </div>
                    <div class="bottom">
                        <div class="your-trip">
                            <div class="you-type-filter-body">
                                <p>Tour Type</p>
                                <img src="../images/arrow.svg" alt="" id="filterToggle" class="filter-controller">
                            </div>


                            <div class="you-type-filter-content">
                                <form id="categoryFilterForm" method="POST" action="/searchtrips">
                                    <div id="categoryInputs">
                                        <label for="nature">
                                            <img src="../images/nature-style.png" alt="" class="style-img">
                                            <input type="checkbox" class="categoryCheckbox" name="category"
                                                value="nature" id="nature">
                                            Nature (<%= categoryCounts.nature || 0 %>)
                                        </label>

                                        <label for="party">
                                            <img src="../images/party.png" alt="" class="style-img">
                                            <input type="checkbox" class="categoryCheckbox" name="category"
                                                value="party" id="party">
                                            Party (<%= categoryCounts.party || 0 %>)
                                        </label>

                                        <label for="foods">
                                            <img src="../images/food.png" alt="" class="style-img">
                                            <input type="checkbox" class="categoryCheckbox" name="category"
                                                value="foods" id="foods">
                                            Food (<%= categoryCounts.foods || 0 %>)
                                        </label>

                                        <label for="beach">
                                            <img src="../images/beach.png" alt="" class="style-img">
                                            <input type="checkbox" class="categoryCheckbox" name="category"
                                                value="beach" id="beach">
                                            Beach (<%= categoryCounts.beach || 0 %>)
                                        </label>

                                        <label for="culture">
                                            <img src="../images/culture.png" alt="" class="style-img">
                                            <input type="checkbox" class="categoryCheckbox" name="category"
                                                value="culture" id="culture">
                                            Culture (<%= categoryCounts.culture || 0 %>)
                                        </label>

                                        <label for="sports">
                                            <img src="../images/sports.png" alt="" class="style-img">
                                            <input type="checkbox" class="categoryCheckbox" name="category"
                                                value="sports" id="sports">
                                            Sports (<%= categoryCounts.sports || 0 %>)
                                        </label>

                                        <p id="seeMoreText" class="see-more-text" onclick="toggleSeeMore()">See More</p>
                                    </div>
                                    <input type="hidden" name="selectedCategories" id="selectedCategories">
                                </form>
                            </div>




                            <div class="price-slider-header">
                                <p>Price filter</p>
                                <img src="../images/arrow.svg" alt="" id="priceFilterToggle" class="filter-controller">

                            </div>
                            <div class="price-filter-container">
                                <div class="wrapper">


                                    <div class="slider">
                                        <div class="progress"></div>
                                    </div>
                                    <div class="range-input">
                                        <form action="">
                                            <input type="range" id="minPrice" class="range-min" min="0" max="70000"
                                                step="100">
                                            <input type="range" id="maxPrice" class="range-max" min="0" max="70000"
                                                step="100">

                                        </form>
                                    </div>

                                    <div class="price-input">
                                        <div class="field">
                                            <input type="number" class="input-min" value="0">
                                        </div>
                                        <div class="field">
                                            <input type="number" class="input-max" value="100000">
                                        </div>
                                    </div>


                                </div>

                                <button class="filter-submit" onclick="submitCombinedSearch()">submit</button>

                            </div>


                            <div class="price-slider-header">
                                <p>languages filter</p>
                                <img src="../images/arrow.svg" alt="" id="languageToggle" class="filter-controller">

                            </div>

                            <div class="languages-filter-container">
                                <form id="languagesFilterForm" method="POST" action="/searchtrips">
                                    <label for="kannada">
                                        <input type="checkbox" class="languageCheckbox" name="languages" value="Kannada"
                                            id="kannada">
                                        Kannada
                                    </label>
                                    <label for="english">
                                        <input type="checkbox" class="languageCheckbox" name="languages" value="English"
                                            id="english">
                                        English
                                    </label>
                                    <label for="hindi">
                                        <input type="checkbox" class="languageCheckbox" name="languages" value="Hindi"
                                            id="hindi">
                                        Hindi
                                    </label>
                                    <label for="gujarati">
                                        <input type="checkbox" class="languageCheckbox" name="languages"
                                            value="gujarati" id="gujarati">
                                        Gujarati
                                    </label>
                                    <label for="marathi">
                                        <input type="checkbox" class="languageCheckbox" name="languages" value="Marathi"
                                            id="marathi">
                                        Marathi
                                    </label>
                                    <input type="hidden" name="selectedLanguages" id="selectedLanguages">
                                </form>
                                <button class="filter-submit" onclick="submitCombinedSearch()">submit</button>

                            </div>

                            <div class="price-slider-header">
                                <p>No of days</p>
                                <img src="../images/arrow.svg" alt="" id="daysToggle" class="filter-controller">

                            </div>

                            <div class="days-filter-container">
                                <div class="days">
                                    <label for="minDays">Min Days:</label>
                                    <input type="number" id="minDays" name="minDays" min="1" placeholder="Minimum days">
                                </div>


                                <div class="days">
                                    <label for="maxDays">Max Days:</label>
                                    <input type="number" id="maxDays" name="maxDays" min="1" placeholder="Maximum days">

                                </div>
                                <button class="filter-submit" onclick="submitCombinedSearch()">submit</button>

                            </div>



                            <div class="rating-slider-header">
                                <p>Ratings</p>
                                <img src="../images/arrow.svg" alt="" id="ratingToggle" class="filter-controller">

                            </div>

                            <div class="range-container">
                                <input type="range" id="rating" name="rating" min="0" max="5" step="1" value="0"
                                    oninput="updateRatingValue()">
                                <span id="ratingValue">0</span>
                                <button class="filter-submit" onclick="submitCombinedSearch()">submit</button>

                            </div>





                        </div>




                    </div>
                </div>


                <div class="suborclose">
                    <button class="filter-submit" onclick="submitCombinedSearch()">submit</button>
                    <button class="filter-close" onclick="closeFilterPopup()">close</button>

                </div>


            </div>
        </div>



        <div class="cards-container">
            <% for(let i=0; i < exactMatchTrips.length; i++) { %>

                <div class="card-container" data-id="<%= exactMatchTrips[i]._id %>">
                    <div class="card-img">
                        <% if (exactMatchTrips[i].tripImages && exactMatchTrips[i].tripImages.length> 0 &&
                            exactMatchTrips[i].tripImages[0].path) { %>
                            <div class="trip-image">
                                <img src="<%= exactMatchTrips[i].tripImages[0].path %>" alt="Trip Image">
                            </div>

                            <div class="heart-container">
                                <% if (user) { %>
                                    <% const
                                        isInWishlist=userWishlist.includes(exactMatchTrips[i]._id.toString());
                                        %>
                                        <i class="<%= isInWishlist ? 'fa-solid fa-heart wishlist-active' : 'fa-regular fa-heart' %> wishlist-icon"
                                            data-id="<%= exactMatchTrips[i]._id %>"
                                            style="cursor: pointer;"></i>
                                        <% } else { %>
                                            <i class="fa-regular fa-heart wishlist-icon redirect-i"
                                                data-id="<%= exactMatchTrips[i]._id %>"></i>
                                            <% } %>
                            </div>




                            <% } else { %>
                                <p>No images available for this trip</p>
                                <% } %>
                    </div>
                    <div class="card-body">
                        <div class="route">
                            <img src="../images/route.svg" alt="">
                            <h3 class="card-title">
                                <a href="/tour/<%= exactMatchTrips[i]._id %>">
                                    <%= exactMatchTrips[i].fromLocation %> ->
                                        <br>
                                        <%= exactMatchTrips[i].location %>
                                </a>


                            </h3>
                        </div>

                        <div class="tour-dates">
                            <p>
                                <% if (exactMatchTrips[i].departure) { %>
                                    <%= new Date(exactMatchTrips[i].departure).toLocaleDateString('en-US', {
                                        month: 'short' , day: '2-digit' }) %> ~
                                        <% } else { %>
                                            date not available
                                            <% } %>

                                                <% if (exactMatchTrips[i].endDate) { %>
                                                    <%= new
                                                        Date(exactMatchTrips[i].endDate).toLocaleDateString('en-US',
                                                        { month: 'short' , day: '2-digit' }) %>
                                                        <% } %>
                            </p>
                        </div>
                        <div class="title-container">
                            <h4 class="trip-title">
                                <%= exactMatchTrips[i].title %>
                            </h4>

                        </div>



                        <div class=" ratio-container">
                            <p class="maleRatio"> <span class="material-symbols-outlined">
                                    male
                                </span>
                                <%= exactMatchTrips[i].maleRatio %>%
                            </p>
                            <p class="femaleRatio">
                                <span class="material-symbols-outlined">
                                    female
                                </span>
                                <%= exactMatchTrips[i].femaleRatio %>%
                            </p>

                        </div>



                        <div class="rating-container">
                            <i class="fa-solid fa-star"></i>
                            <p>
                                <%= exactMatchTrips[i].averageRating %>
                            </p>

                        </div>



                        <div class="card-bottom">
                            <div class="days-container">
                                <h4 class="days">
                                    <%= exactMatchTrips[i].totalDays %> days
                                </h4>
                            </div>
                            <div class="price-container">
                                <% if (exactMatchTrips[i].totalCost) { %>
                                    <span>FROM</span> &nbsp;<b>
                                        <%= exactMatchTrips[i].totalCost.toLocaleString('en-IN', {
                                            style: 'currency' , currency: 'INR' }) %>
                                    </b>
                                    <% } else { %>
                                        Price Not Available
                                        <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>


    </main>





    <footer>

        <div class="sec1">
            <div class="logo"></div>
            <p>Book your trip in minute, get full Control for much longer.</p>
        </div>
        <div class="sec2">
            <div class="col1">
                <h3>Company</h3>
                <div class="links">
                    <a href="">How it works</a>
                    <a href="/">Find a trip</a>
                    <a href="/createtrip">Create a trip</a>
                </div>


            </div>
            <div class="col2">
                <h3>EXPLORE</h3>
                <div class="links">
                    <a href="/tourbydestination">Group trips by destination </a>
                    <a href="/tourbymonths">Group trips by Month </a>
                    <a href="/featuredtrips">Featured trips</a>
                </div>
            </div>
            <div class="col3">
                <h3>Join Our Tour</h3>
                <div class="links">
                    <a href="">Blog </a>
                    <a href="">About us</a>
                    <a href="/contactUs">Contact us</a>
                </div>
            </div>


        </div>
        <div class="sec3">

            <img src="../images/f.svg" alt="">
            <img src="../images/i.svg" alt="">
            <img src="../images/t.svg" alt="">


        </div>

        <p class="cc">All rights reserved@travelgoo.co</p>


    </footer>





    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            speed: 1000,
            spaceBetween: 0,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>









    <script>


        document.addEventListener('DOMContentLoaded', () => {
            const dateInputs = document.querySelectorAll('input[type="date"]');


            //this is for date picker 
            dateInputs.forEach(input => {
                input.addEventListener('focus', (event) => {
                    event.target.showPicker();
                });
            });
        });












        // dates correction





        // Get today's date in the format 'YYYY-MM-DD'
        const today = new Date().toISOString().split('T')[0];

        // Get input elements
        const fromDateInput = document.getElementById('fromDate');
        const toDateInput = document.getElementById('toDate');

        // Set the min date for the "from" input
        fromDateInput.setAttribute('min', today);

        // Add an event listener to update the "to" input based on "from" input selection
        fromDateInput.addEventListener('change', () => {
            const selectedFromDate = fromDateInput.value;

            // Update the min date for the "to" input
            toDateInput.setAttribute('min', selectedFromDate);

            // Ensure the "to" date is greater than or equal to the "from" date
            if (toDateInput.value && toDateInput.value < selectedFromDate) {
                toDateInput.value = ""; // Clear the "to" input if it violates the rule
                alert("The 'To' date must be greater than or equal to the 'From' date.");
            }
        });

        // Add an event listener to validate "to" date when changed
        toDateInput.addEventListener('change', () => {
            const selectedFromDate = fromDateInput.value;
            const selectedToDate = toDateInput.value;

            // Ensure the "to" date is greater than or equal to the "from" date
            if (selectedFromDate && selectedToDate < selectedFromDate) {
                toDateInput.value = ""; // Clear the "to" input if it violates the rule
                alert("The 'To' date must be greater than or equal to the 'From' date.");
            }
        });












    </script>


    <script>


        document.addEventListener("DOMContentLoaded", function () {
            console.log("Script Loaded");

            let tripsData = <% - JSON.stringify(exactMatchTrips) %>;
            const userWishlist = <% - JSON.stringify(userWishlist) %>;

            console.log("Initial Trips Data:", tripsData.map(trip => ({
                id: trip._id,
                rating: trip.averageRating
            })));

            const sortOptions = document.getElementById('sort-options');
            if (!sortOptions) {
                console.error("Sort options dropdown not found!");
                return;
            }

            sortOptions.addEventListener('change', function () {
                const selectedSort = this.value;
                let sortedTrips = [...tripsData]; // Clone tripsData to avoid mutation

                console.log("Before Sorting:", sortedTrips.map(trip => ({
                    id: trip._id,
                    rating: trip.averageRating
                })));

                if (selectedSort === "price-low-high") {
                    sortedTrips.sort((a, b) => a.totalCost - b.totalCost);
                } else if (selectedSort === "price-high-low") {
                    sortedTrips.sort((a, b) => b.totalCost - a.totalCost);
                } else if (selectedSort === "rating-high-low") {
                    sortedTrips.sort((a, b) => (b.averageRating ?? 0) - (a.averageRating ?? 0)); // Handle undefined ratings
                } else if (selectedSort === "rating-low-high") {
                    sortedTrips.sort((a, b) => (a.averageRating ?? 0) - (b.averageRating ?? 0));
                }

                console.log("After Sorting:", sortedTrips.map(trip => ({
                    id: trip._id,
                    rating: trip.averageRating
                })));

                const container = document.querySelector('.cards-container');
                if (!container) {
                    console.error("Cards container not found!");
                    return;
                }
                container.innerHTML = '';

                sortedTrips.forEach((trip, i) => {
                    const tripCard = document.createElement("div");
                    tripCard.classList.add("card-container");

                    tripCard.innerHTML = `
                <div class="card-img">
                    ${trip.tripImages?.length
                            ? `<div class="trip-image">
                            <img src="${trip.tripImages[0].path}" alt="Trip Image">
                        </div>`
                            : `<p>No images available</p>`
                        }
                    <div class="heart-container">
                        ${userWishlist.includes(trip._id.toString())
                            ? `<i class="fa-solid fa-heart wishlist-active wishlist-icon" data-id="${trip._id}" style="cursor: pointer;"></i>`
                            : `<i class="fa-regular fa-heart wishlist-icon redirect-i" data-id="${trip._id}"></i>`}
                    </div>
                </div>
                <div class="card-body">
                    <div class="route">
                        <img src="../images/route.svg" alt="">
                        <h3 class="card-title">
                            <a href="/tour/${trip._id}">${trip.location}</a>
                            <p>
                                ${trip.departure ? new Date(trip.departure).toLocaleDateString('en-US', { month: 'long', day: '2-digit' }) + ' ~ ' : ''}
                                ${trip.endDate ? new Date(trip.endDate).toLocaleDateString('en-US', { month: 'long', day: '2-digit' }) : ''}
                            </p>
                        </h3>
                    </div>
                    <div class="title-container">
                        <h4 class="trip-title">${trip.title}</h4>
                    </div>
                    <div class="ratio-container">
                        <p class="maleRatio">Male: ${trip.maleRatio || 0}%</p>
                        <p class="femaleRatio">Female: ${trip.femaleRatio || 0}%</p>
                    </div>
                    <div class="rating-container">
                        <div class="rate rat1">
                            ${[5, 4, 3, 2, 1].map(star => `
                                <input type="radio" id="locStar${star}-${i}" name="locationRating-${i}" value="${star}" 
                                    ${trip.averageRating >= star ? 'checked' : ''} disabled />
                                <label for="locStar${star}-${i}">${star} stars</label>
                            `).join('')}
                        </div>
                        <p>${trip.averageRating !== undefined ? trip.averageRating.toFixed(1) : "No rating"}</p>
                    </div>
                    <div class="card-bottom">
                        <div class="days-container">
                            <h4 class="days">${trip.totalDays || "N/A"} days</h4>
                        </div>
                        <div class="price-container">
                            ${trip.totalCost
                            ? `<span>FROM</span> &nbsp;<b>${trip.totalCost.toLocaleString('en-IN', { style: 'currency', currency: 'INR' })}</b>`
                            : 'Price Not Available'}
                        </div>
                    </div>
                </div>
            `;

                    container.appendChild(tripCard);
                });
            });
        });





    </script>




    <script>
        console.log("📊 Initial Trips Data:", tripsData.map(trip => ({
            id: trip._id,
            title: trip.title,
            rating: trip.averageRating
        })));

        sortOptions.addEventListener('change', function () {
            const selectedSort = this.value;
            let sortedTrips = [...tripsData];

            console.log("Before Sorting:", sortedTrips.map(trip => ({
                id: trip._id,
                title: trip.title,
                rating: trip.averageRating
            })));

            if (selectedSort === "price-low-high") {
                sortedTrips.sort((a, b) => a.totalCost - b.totalCost);
            } else if (selectedSort === "price-high-low") {
                sortedTrips.sort((a, b) => b.totalCost - a.totalCost);
            } else if (selectedSort === "rating-high-low") {
                sortedTrips.sort((a, b) => (b.averageRating || 0) - (a.averageRating || 0));
            } else if (selectedSort === "rating-low-high") {
                sortedTrips.sort((a, b) => (a.averageRating || 0) - (b.averageRating || 0));
            }

            console.log("After Sorting:", sortedTrips.map(trip => ({
                id: trip._id,
                title: trip.title,
                rating: trip.averageRating
            })));
        });
    </script>



    <script src="/js/seemore.js"></script>
    <script src="/js/mainSearchSort.js"></script>
    <script src="/js/whislist.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/autoSuggestions.js"></script>
    <script src="/js/secondarySearch.js"></script>
    <script src="/js/mainSearch.js"></script>
    <script src="/js/filter.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/pricefilter.js"></script>


</body>

</html>