<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>Search Results</h1>

    <h2>Exact Match Trips</h2>
    <ul>
        <% exactMatchTrips.forEach(trip => { %>
            <li><%= trip.title %> - <%= trip.location %></li>
        <% }) %>
    </ul>

    <h2>Date Flexible Trips</h2>
    <ul>
        <% dateFlexibleTrips.forEach(trip => { %>
            <li><%= trip.title %> - <%= trip.location %></li>
        <% }) %>
    </ul>

    <h2>Location Flexible Trips</h2>
    <ul>
        <% locationFlexibleTrips.forEach(trip => { %>
            <li><%= trip.title %> - <%= trip.location %></li>
        <% }) %>
    </ul>

    <h2>Category Match Trips</h2>
    <ul>
        <% categoryMatchTrips.forEach(trip => { %>
            <li><%= trip.title %> - <%= trip.location %> - Categories: <%= trip.categories.join(', ') %></li>
        <% }) %>
    </ul>

    <h2>All Trips</h2>
    <ul>
        <% allTrips.forEach(trip => { %>
            <li><%= trip.title %> - <%= trip.location %></li>
        <% }) %>
    </ul>

</body>
</html>