<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/showAll.css">
    <title>Document</title>
</head>

<body>


    <!-- <nav>
        <div class="top-container">
            <img src="../images/account_circle.png" alt="">
            <img src="../images/search.png" alt="">
        </div>
        <div class="bottom-container">
            <img src="../images/linkedin(3).png" alt="">
            <img src="../images/instagram(4).png" alt="">
            <img src="../images/facebook-app-symbol(1).png
            " alt="">
        </div>
    </nav> -->




    <!-- <form action="/searchTrips" method="POST" id="searchTripForm" class="search-container">
        <div class="search-bar">
            <div class="location-search-container">
                <label for="location">Where</label>
                <input type="text" name="location" id="location" placeholder="Search destinations">
            </div>

            <div class="checkin-search-container">
                <label for="checkIn">Check in</label>
                <input type="date" placeholder="Check in" name="checkIn" id="checkIn">
            </div>

            <div class="checkout-search-container">
                <label for="checkOut">Check out</label>
                <input type="date" placeholder="Check out" name="checkOut" id="checkOut">
            </div>

            <button type="button" onclick="searchTrip()">Search</button>
        </div>
    </form> -->



    <header>
        <nav>
            <div class="logo">
                <h4><b>TRAVELER</b></h4>
            </div>
            <div class="home">
                <a href="http://localhost:8080/aboutus">HOME</a>
            </div>
            <div class="right">
                <img src="../images/account_circle.png" alt="">
                <img src="../images/search.png" alt="">
            </div>
        </nav>
        <hr>
        <div class="bottom-container">
            <img src="../images/linkedin(3).png" alt="">
            <img src="../images/instagram(4).png" alt="">
            <img src="../images/facebook-app-symbol(1).png
            " alt="">
        </div>
    </header>

    <div class="search-container">
        <div class="search-bar"></div>
    </div>



    <main>
        <div class="filter-container">
            <div class="secondary-search">
                <i class="fa-solid fa-location-dot loc"></i>
                <form action="">
                    <input type="text" placeholder="Search destinations" class="secondary-location" id="secondaryDestination">
                </form>
                
                <button class="secondary-search-button" onclick="submitSecondarySearch()">
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
            <div class="filters">
                <div class="top">

                </div>
                <div class="bottom">
                    <div class="your-trip">
                        <div class="you-type-filter-body">
                            <p>Tour Type</p>
                            <img src="../images/arrow.svg" alt="" id="filterToggle">
                        </div>
                        <div class="you-type-filter-content">
                            <form id="categoryFilterForm" method="POST" action="/searchtrips">
                                <label for="nature"><img src="../images/nature-style.png" alt="" class="style-img"><input type="checkbox" class="categoryCheckbox" name="category" value="nature" id="nature"
                                        onclick="toggleCategory('nature')"> Nature</label>
                                <label for="party"><img src="../images/nature-style.png" alt="" class="style-img"><input type="checkbox" class="categoryCheckbox" name="category" value="party" id="party"
                                        onclick="toggleCategory('party')"> Party</label>
                                <label for="food"><img src="../images/nature-style.png" alt="" class="style-img"><input type="checkbox" class="categoryCheckbox" name="category" value="food" id="food"
                                        onclick="toggleCategory('food')"> Food</label>
                                <label for="beach"><img src="../images/nature-style.png" alt="" class="style-img"><input type="checkbox" class="categoryCheckbox" name="category" value="beach" id="beach"
                                        onclick="toggleCategory('beach')"> Beach</label>
                                <label for="culture"><img src="../images/nature-style.png" alt="" class="style-img"><input type="checkbox" class="categoryCheckbox" name="category" value="culture" id="culture"
                                        onclick="toggleCategory('culture')"> Culture</label>
                                <label for="sports"><img src="../images/nature-style.png" alt="" class="style-img"><input type="checkbox" class="categoryCheckbox" name="category" value="sports" id="sports"
                                        onclick="toggleCategory('sports')"> Sports</label>
                                <input type="hidden" name="selectedCategories" id="selectedCategories">
                                <!-- <button type="button" onclick="searchCategory()">Apply Categories</button> -->
                            </form>
                        </div>

                        <div class="price-slider-header">

                        </div>
                        <div class="price-filter-container">
                            <div class="wrapper">


                                <div class="slider">
                                    <div class="progress"></div>
                                </div>
                                <div class="range-input">
                                    <form action="">
                                        <input type="range" id="minPrice" class="range-min" min="0" max="70000" step="100">
                                        <input type="range" id="maxPrice" class="range-max" min="0" max="70000" step="100">

                                    </form>
                                </div>

                                <div class="price-input">
                                    <div class="field">
                                        <input type="number" class="input-min" value="0">
                                    </div>
                                    <div class="field">
                                        <input type="number" class="input-max" value="100000">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cards-container">
            <% for(let i=0; i < allTrips.length; i++) { %>
                <div class="card-container">
                    <div class="card-img">
                        <% if (allTrips[i].tripImages && allTrips[i].tripImages.length> 0 &&
                            allTrips[i].tripImages[0].path) { %>
                            <div class="trip-image">
                                <img src="<%= allTrips[i].tripImages[0].path %>" alt="Trip Image">
                            </div>
                            <div class="heart-container">
                                <i class="fa-regular fa-heart"></i>

                            </div>
                            <% } else { %>
                                <p>No images available for this trip</p>
                                <% } %>
                    </div>
                    <div class="card-body">
                        <div class="route">
                            <img src="../images/route.svg" alt="">
                            <h3 class="card-title">
                                <a href="/<%= allTrips[i]._id %>">
                                    <%= allTrips[i].location %>
                                </a>

                                <p>
                                    <% if (allTrips[i].departure) { %>
                                        <%= new Date(allTrips[i].departure).toLocaleDateString('en-US', { month: 'long'
                                            , day: '2-digit' }) %> ~
                                            <% } else { %>
                                                date not available
                                                <% } %>
                                                    <% if (allTrips[i].endDate) { %>
                                                        <%= new Date(allTrips[i].endDate).toLocaleDateString('en-US', {
                                                            month: 'long' , day: '2-digit' }) %>
                                                            <% } %>


                                </p>


                            </h3>
                        </div>

                        <div class="title-container">
                            <h4 class="trip-title">
                                <%= allTrips[i].title %>
                            </h4>
                        </div>
                        <hr>

                        <div class="card-bottom">

                            <div class="days-container">
                                <h4 class="days">
                                    <%= allTrips[i].totalDays %> days
                                </h4>
                            </div>

                            <div class="price-container">
                                <% if (allTrips[i].totalCost) { %>
                                    <span>FROM</span> &nbsp;<b>
                                        <%= allTrips[i].totalCost.toLocaleString('en-IN', { style: 'currency' ,
                                            currency: 'INR' }) %>
                                    </b>
                                    <% } else { %>
                                        Price Not Available
                                        <% } %>
                            </div>

                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </main>



    <!-- 
    <form action="/searchTrips" method="POST" id="searchTripForm">
        <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <div class="location-search-container">
                <label for="location">Where</label>
                <input type="text" name="location" id="location" placeholder="Search destinations">
            </div>

            <div class="checkin-search-container">
                <label for="checkIn">Check in</label>
                <input type="date" placeholder="Check in" name="checkIn" id="checkIn">
            </div>

            <div class="checkout-search-container">
                <label for="checkOut">Check out</label>
                <input type="date" placeholder="Check out" name="checkOut" id="checkOut">
            </div>

            <button type="button" onclick="searchTrip()">Search</button>
        </div>
    </form> -->

    <main>
        <div class="sort-container">
            <div class="filter">
                <h1 class="filter-heading">TRIP STYLE</h1>

                <div class="catagories-container">
                    <!-- <form id="categoryFilterForm" method="POST" action="/searchtrips">
                        <label for="nature"><input type="checkbox" name="category" value="nature" id="nature"
                                onclick="toggleCategory('nature')"> Nature</label>
                        <label for="party"><input type="checkbox" name="category" value="party" id="party"
                                onclick="toggleCategory('party')"> Party</label>
                        <label for="food"><input type="checkbox" name="category" value="food" id="food"
                                onclick="toggleCategory('food')"> Food</label>
                        <label for="beach"><input type="checkbox" name="category" value="beach" id="beach"
                                onclick="toggleCategory('beach')"> Beach</label>
                        <label for="culture"><input type="checkbox" name="category" value="culture" id="culture"
                                onclick="toggleCategory('culture')"> Culture</label>
                        <label for="sports"><input type="checkbox" name="category" value="sports" id="sports"
                                onclick="toggleCategory('sports')"> Sports</label>
                        <input type="hidden" name="selectedCategories" id="selectedCategories">
                        <button type="button" onclick="searchCategory()">Apply Categories</button>
                    </form> -->
                </div>

                <h1 class="trip-typo">TRIP</h1>
                <h1 class="style-typo">STYLE</h1>
            </div>

            <form id="priceFilterForm" action="/priceFilter" method="POST">
                <div class="price-filter">
                    <h1 class="pricebg">PRICE</h1>
                    <h1 class="rangebg">RANGE</h1>
                    <div class="price-heading">
                        <h2>Price Range</h2>
                    </div>
                    <div class="price-input">
                        <div>
                            <!-- <label for="minTotal">Min Price</label> -->
                            <input type="number" name="minTotal" id="minTotal" placeholder="min price">
                        </div>

                        <div>
                            <!-- <label for="maxTotal">Max Price</label> -->
                            <input type="number" name="maxTotal" id="maxTotal" placeholder="max price">
                        </div>

                        <button type="button" onclick="filterByPrice()">Apply</button>
                    </div>
                </div>
            </form>
        </div>

    </main>




    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            speed: 1000,
            spaceBetween: 0,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>

    <script>
        // Array to store wishlist trip IDs
        let wishlist = [];

        // Function to toggle heart icon color and update wishlist
        function toggleHeart(tripId) {
            const heartIcon = document.getElementById(`heart${tripId}`);
            const index = wishlist.indexOf(tripId);

            if (index === -1) {
                // Add trip to wishlist
                wishlist.push(tripId);
                heartIcon.classList.add('red'); // Add red class for red color
            } else {
                // Remove trip from wishlist
                wishlist.splice(index, 1);
                heartIcon.classList.remove('red'); // Remove red class
            }

            // Send updated wishlist data to server
            updateWishlist();
        }

        // Function to send wishlist data to the server
        async function updateWishlist() {
            // Data to be sent in the POST request
            const postData = { wishlist: wishlist };

            // Options for the fetch request
            const options = {
                method: 'POST', // Request method
                headers: { 'Content-Type': 'application/json' }, // Specify content type as JSON
                body: JSON.stringify(postData) // Convert data to JSON format
            };

            // Make the POST request
            const response = await fetch('http://localhost:8080/', options);
            const newData = await response.json();
            console.log(newData);
        }

        // Array to store selected categories
        let selectedCategories = [];

        // Function to toggle category selection
        function toggleCategory(category) {
            const index = selectedCategories.indexOf(category);

            if (index === -1) {
                // Add category to selectedCategories
                selectedCategories.push(category);
            } else {
                // Remove category from selectedCategories
                selectedCategories.splice(index, 1);
            }

            // Update the hidden input field with selected categories
            document.getElementById('selectedCategories').value = selectedCategories.join(',');
        }

        // Function to submit the search form
        function searchTrip() {
            // Update the hidden input field with selected categories
            document.getElementById('selectedCategories').value = selectedCategories.join(',');

            // Submit the form
            document.getElementById('searchTripForm').submit();
        }

        // Function to submit the category form
        function searchCategory() {
            // Update the hidden input field with selected categories
            document.getElementById('selectedCategories').value = selectedCategories.join(',');

            // Submit the form
            document.getElementById('categoryFilterForm').submit();
        }

        // Function to submit the price filter form
        function filterByPrice() {
            // Submit the form
            document.getElementById('priceFilterForm').submit();

            // Delay clearing the input fields until after the form is submitted
            setTimeout(function () {
                document.getElementById('minTotal').value = '';
                document.getElementById('maxTotal').value = '';
            }, 1000); // You can adjust the delay time as needed
        }

        document.addEventListener('DOMContentLoaded', () => {
            const dateInputs = document.querySelectorAll('input[type="date"]');


            //this is for date picker 
            dateInputs.forEach(input => {
                input.addEventListener('focus', (event) => {
                    event.target.showPicker();
                });
            });
        });

    </script>
    <script src="/js/secondarySearch.js"></script>
    <script src="/js/filter.js"></script>
    <script src="/js/nav.js"></script>
</body>

</html>