<% layout("./layouts/boilerplate.ejs") %>

<h1> <%= trip.title %> </h1>
<h3> <%= trip.tripDescription %> </h3>
<h3> <%= trip.departure %> </h3>
<h3> <%= trip.includes %> </h3>

<h1>Stops</h1>

<h1><%= trip.stopLocation %></h1>
<h1><%= trip.stopDescription %></h1>
<h1><%= trip.owner.username %></h1>



<% if ( currUser._id.toString() == trip.owner._id.toString() ) { %>
    <form action="/allTrips/<%= trip._id %>/?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
<% } %>



<form action="/alltrips/<%= trip._id %>/editTrip" method="GET">
    <button>Edit</button>
</form>